[submodule "submodules/nixl"]
	path = submodules/nixl
	url = https://github.com/ai-dynamo/nixl.git
[submodule "submodules/ucx"]
	path = submodules/ucx
	url = https://github.com/openucx/ucx.git
[submodule "submodules/gds"]
	path = submodules/gds
	url = https://github.com/NVIDIA/gds-nvidia-fs.git
[submodule "submodules/gdr"]
	path = submodules/gdr
	url = https://github.com/NVIDIA/gdrcopy.git
